Armed War:

    * You shuffle the deck and deal it out in equal parts. Each player takes the cards dealt to him/her and puts them in his/her hand.
    
    * All cards a player plays and all cards a player gains during the game go to his/her discard.
    
    * A player's discard becomes his/her hand only upon his/her hand becoming empty.
    
    * War is played as usual, but with players choosing which card to play from their hands instead just pulling off the top of their 
      pile. Players each play their card face down, and then once all cards are down, players reveal the cards they have played.
    
    * In the event of a WAR, players shuffle their hands and take three cards at random from their hand to form the facedown 
      "WAR" cards, then return to viewing their hands to select the final card for the WAR. If, during this process, a player 
      does not have enough cards in his/her hand, he/she puts all the cards from his/her hand into play as "WAR" cards, then 
      continues using cards at random from his/her discard to complete the three facedown cards, then takes his/her remaining 
      discard as his/her hand and continues playing.
    
    * 2's beat whatever card is highest (Aces), but lose to all other cards. This is 
      essential in this variant, to make Aces not just an obvious play at the end of a war.
